.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; 
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* senka */
  transition: background-color 0.3s ease; /* hover tranzicija */
}

.navbar-logo a {
  font-size: 2rem; 
  color: #f1faee; 
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px; 
  transition: color 0.3s ease; /*logo tranzicija smooth*/
}

.navbar-logo a:hover {
  color: #ffb703; 
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 1.5rem; 
}

.navbar-links a {
  color: #f1faee; 
  text-decoration: none;
  font-size: 1.2rem; 
  font-weight: 500;
  position: relative; 
  transition: color 0.3s ease, transform 0.2s ease, background-color 0.3s ease; 
}


.navbar-links a:hover {
  color: #1d3557; 
  transform: scale(1.1); 
  background-color: #ffb703; 
  border-radius: 5px; /*  Hover da bude zakrivljen  */
}


.navbar-links li:hover {
  background-color: #ffb703; 
  border-radius: 5px; /* Hover da bude zakrivljen */
}


/*Kreiranje responzivnosti za manje ekrane tipa telefon itd...*/
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar-links {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar-links li {
    margin: 0.5rem 0; /* vertikalno redjanje elemenata kada se smanjuje ekran */
  }
}