* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
   
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
  }
  
  .navbar-logo a {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
  }
  
  .navbar-links li {
    margin: 0 1rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }