.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a4fff; 
  padding: 1rem 2rem;
  min-width: 300px;
}

.link {
  font-size: 32px; 
  color: black; 

  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1px; 
  transition: color 0.3s ease; 
   font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
      /* font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 11.6;
    font-size: 40px; */
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 1.5rem; 
}

.navbar-links a {
  color: black; 
  text-decoration: none;
  font-size: 25px; 
  font-weight: 500; 
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    /* font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 11.6; */
    /* font-size: 40px; */
}

.navbar-links a:hover {
  color: #1d3557; 
  transform: scale(1.1); 
  background-color: #ffb703; 
  border-radius: 5px; /*  Hover da bude zakrivljen  */
}


.navbar-links li:hover {
  background-color: #ffb703; 
  border-radius: 5px; /* Hover da bude zakrivljen */
}


@media(max-width:1600px){
  .navbar{
   width: 100% !important;
  }
}

@media(max-width:835px){
  .link{
    font-size: 10px;
  }
  .home, .about, .dest, .blog, .kontakt{
    font-size: 10px !important;
  }
}

@media(max-width:712px){
  .navbar{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width:428px){
  .navbar-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
