.app-feature-container {
      background-color: #452980;
      height: 65vh;
      display: flex;
}
.com_left{
      height: 100%;
      width: 60%;
      background-color: #452980;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
}
.left_contetncom{
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px;
}
.com_right{
      height: 100%;
      width: 40%;
      display: flex;
      align-items: flex-start;
      justify-content: start;
      /* background-color: orange; */
}
.com_rightimg{
      height: 100%;
      margin-right: 50px;
      width: 80%;

}

.p1_com{
      color: white;
        font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;

}
.p2_com{
           color: white;
        font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 15px; 
}
.h2_com{
                 color: darkgoldenrod;
        font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px; 

}
.h3_com{
               color: darkgoldenrod;
        font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px; 
}



