.div-section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 80vh;
  width: 100%;
  min-width: 300px;
  background-color: #dcd7c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container {
  background-color: #2c3930;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  width: 80%;
  margin: auto;
  height: 90%;
  /* min-width: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  padding: 30px;
  border-radius: 50px;
}
.left-div-header {
  height: 60%;
  /* flex-grow: 1; */
  background-color: #a27b5c;
  /* flex-shrink: 1; */
  flex-basis: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-right: -100px;
  border-radius: 20px;
}
.right-div-header {
  height: 90%;
  /* flex-grow: 1; */
  background-color: #3f4f44;
  /* margin-left: -50px; */
  /* flex-shrink: 1; */
  flex-basis: 1;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 200px 0px 0px px;
  /* position: relative; */
  z-index: 1;
  border-radius: 8px;
  background-image: url("./Header_images/nesto.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  min-width: 50px;
}
.header-h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  min-width: 50px;
  word-break: break-word; /* Ensures long words break */
  overflow-wrap: break-word; /* Alternative way to break words */
  white-space: normal;
  padding-bottom: 30px;
}
.header-par {
  font-family: "Tangerine", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  font-style: italic;
  padding-bottom: 30px;
}
.header-bu {
  border-radius: 0px;
  text-decoration: none;
  padding: 14px 21px;
  font-size: 13px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-bu:hover {
  border: solid 2px black;
  background: #1f1f1f;
  color: #fff;
  cursor: pointer;
}
